In [9]:
import nltk
import pandas as pd
da=pd.read_csv("Z:\\data analytics\\tweets.csv")
pat=r'''#\w+'''
ans=nltk.regexp_tokenize(str(da),pat)
print(ans)

['#MumbaiRainlive', '#MumbaiRain', '#Bhiwandi', '#MumbaiRainlive', '#MumbaiRain', '#mumbairains', '#Mu', '#MumbaiRainsLiveUpdates', '#nation', '#sle', '#MumbaiRain', '#MumbaiRain', '#RainDost', '#NeedHe', '#Dhoni', '#England']

In [17]:
from nltk.stem import PorterStemmer 
from nltk.tokenize import word_tokenize 
ps = PorterStemmer() 
da=pd.read_csv("Z:\\data analytics\\tweets.csv") 
pat=r'''#\w+'''
ans=nltk.regexp_tokenize(str(da),pat)
words = word_tokenize(str(ans)) 
for w in ans: 
    print(w, " : ", ps.stem(w))

#MumbaiRainlive  :  #mumbairainl
#MumbaiRain  :  #mumbairain
#Bhiwandi  :  #bhiwandi
#MumbaiRainlive  :  #mumbairainl
#MumbaiRain  :  #mumbairain
#mumbairains  :  #mumbairain
#Mu  :  #mu
#MumbaiRainsLiveUpdates  :  #mumbairainsliveupd
#nation  :  #nation
#sle  :  #sle
#MumbaiRain  :  #mumbairain
#MumbaiRain  :  #mumbairain
#RainDost  :  #raindost
#NeedHe  :  #needh
#Dhoni  :  #dhoni
#England  :  #england

[nltk_data] Downloading package punkt to
[nltk_data]     C:\Users\TEMP.CSE.005\AppData\Roaming\nltk_data...
[nltk_data]   Unzipping tokenizers\punkt.zip.

True

In [22]:
from nltk import ngrams
n=3
lists=[]
result=ngrams(str(ans).split(),n)
for s in result:
    lists.append(s)
print(lists)

[("['#MumbaiRainlive',", "'#MumbaiRain',", "'#Bhiwandi',"), ("'#MumbaiRain',", "'#Bhiwandi',", "'#MumbaiRainlive',"), ("'#Bhiwandi',", "'#MumbaiRainlive',", "'#MumbaiRain',"), ("'#MumbaiRainlive',", "'#MumbaiRain',", "'#mumbairains',"), ("'#MumbaiRain',", "'#mumbairains',", "'#Mu',"), ("'#mumbairains',", "'#Mu',", "'#MumbaiRainsLiveUpdates',"), ("'#Mu',", "'#MumbaiRainsLiveUpdates',", "'#nation',"), ("'#MumbaiRainsLiveUpdates',", "'#nation',", "'#sle',"), ("'#nation',", "'#sle',", "'#MumbaiRain',"), ("'#sle',", "'#MumbaiRain',", "'#MumbaiRain',"), ("'#MumbaiRain',", "'#MumbaiRain',", "'#RainDost',"), ("'#MumbaiRain',", "'#RainDost',", "'#NeedHe',"), ("'#RainDost',", "'#NeedHe',", "'#Dhoni',"), ("'#NeedHe',", "'#Dhoni',", "'#England']")]

In [24]:
from sklearn.feature_extraction.text import CountVectorizer
from nltk.tokenize import RegexpTokenizer
token=RegexpTokenizer(r'[a-zA-Z0-9]+')
cv=CountVectorizer(lowercase=True,tokenizer = token.tokenize)
text_counts = cv.fit_transform(ans)
df=pd.DataFrame(text_counts.toarray(),columns=cv.get_feature_names())
df

,bhiwandi,dhoni,england,mu,mumbairain,mumbairainlive,mumbairains,mumbairainsliveupdates,nation,needhe,raindost,sle
0,0,0,0,0,0,1,0,0,0,0,0,0
1,0,0,0,0,1,0,0,0,0,0,0,0
2,1,0,0,0,0,0,0,0,0,0,0,0
3,0,0,0,0,0,1,0,0,0,0,0,0
4,0,0,0,0,1,0,0,0,0,0,0,0
5,0,0,0,0,0,0,1,0,0,0,0,0
6,0,0,0,1,0,0,0,0,0,0,0,0
7,0,0,0,0,0,0,0,1,0,0,0,0
8,0,0,0,0,0,0,0,0,1,0,0,0
9,0,0,0,0,0,0,0,0,0,0,0,1
10,0,0,0,0,1,0,0,0,0,0,0,0
11,0,0,0,0,1,0,0,0,0,0,0,0
12,0,0,0,0,0,0,0,0,0,0,1,0
13,0,0,0,0,0,0,0,0,0,1,0,0
14,0,1,0,0,0,0,0,0,0,0,0,0
15,0,0,1,0,0,0,0,0,0,0,0,0